{% extends 'listings/base.html' %}

{% block content %}

  <h2>{{ listing.title }}</h2>

  <ul>
    <li>Type: {{ listing.get_type_display }}</li>
    <li>Year of origin: {{ listing.year }}</li>
    <li>Sold: {{ listing.sold|yesno }}</li>
  </ul>

  <p>{{ listing.description }}</p>

  <a href="{% url 'listing-update' listing.id %}">Edit this Listing</a>
  <a href="{% url 'listing-delete' listing.id %}">Delete listing</a>
  <a href="{% url 'listing-list' %}">Back to all Listings</a>

{% endblock %}
